<h1>Welcome to finding a test</h1>

<%= form_with(url: 'tests/show', method: "get") do %>
  <div><%= label_tag(:test_name, "Test Name: ")%>
  <%= text_field_tag(:test_name) %></div>
  <%= submit_tag("Search") %>
<% end %>

<div id="tests">
  <%= render 'show' %>
</div>